div.rule-font-size label {
   font-size: 0.7em; 
   padding: 7px 7px 0px 12px;
}
div.rule-font-size i {
    font-size: 1.2em;
    margin-top: 5px;
    top: 4px;
    position: absolute;
 }
 div.rule-font-size span {
    padding-left: 20px;
 }