<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Customer<b>Hub</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/events" routerLinkActive="active">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/special" routerLinkActive="active">Members</a>
      </li> -->
    </ul>
    <ul class="nav navbar-nav ml-auto" *ngIf="authService.loggedIn()">
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-user-circle mr-2"> </i>{{user}}</a>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="#" class="dropdown-item">Reports</a>
                <a href="#" class="dropdown-item">Settings</a>
                <div class="dropdown-divider"></div>
                <a style="cursor:pointer" class="dropdown-item" (click)="authService.logoutUser()">Logout <i class="fa fa-sign-out"></i></a>
            </div>
        </li>
    </ul>
    <ul class="navbar-nav">
        <a class="nav-link" *ngIf="!authService.loggedIn()"  routerLink="/login" routerLinkActive="active"><i class="fa fa-sign-in"></i> Login</a>
        <a class="nav-link" *ngIf="!authService.loggedIn()"   routerLink="/register" routerLinkActive="active"><i class="fa fa-user-plus"></i> Register</a>
        <!-- <a class="nav-link" *ngIf="authService.loggedIn()" style="cursor:pointer" (click)="authService.logoutUser()">Logout <i class="fa fa-sign-out"></i></a> -->
    </ul>
  </div>
</nav> 
<div class="container mt-3">
  <router-outlet></router-outlet>            
</div>
