<app-breadcrumbs></app-breadcrumbs>
<div class="row">
    <div class="col-md-6 w3-padding-16">
        <h4 class="m-3"><span *ngIf="isAction !== 'AddUser'">User</span> {{isAction}} <span>Form</span></h4>
    </div>
    <div class="col-md-6 w3-padding-16">
            <button type="button" class="btn btn-primary float-right mr-2 mt-11" [routerLink]="['/dashboard']"><i class="fa fa-home"></i> Home</button>
    </div>
</div>
<div class="card mt-3">
    <div class="card-body">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label class="col-md-4">User Id</label>
                <input type="number" class="form-control" [readonly]="isAction === 'Detail'" formControlName="userId" #userId/>
                <div *ngIf="userForm.controls['userId'].invalid && (userForm.controls['userId'].dirty || userForm.controls['userId'].touched)"class="alert alert-danger">
                    <div *ngIf="userForm.controls['userId'].errors.required">
                        User Id is required.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4">User Name</label>
                <input type="title" class="form-control" [readonly]="isAction === 'Detail'" formControlName="name" #name/>
                <div *ngIf="userForm.controls['name'].invalid && (userForm.controls['name'].dirty || userForm.controls['name'].touched)"class="alert alert-danger">
                    <div *ngIf="userForm.controls['name'].errors.required">
                        Title is required.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit"class="btn btn-success mr-1" *ngIf="isAction !== 'Detail'"
                        [disabled]="userForm.pristine || userForm.invalid">Submit
                </button>
                <button type="button" class="btn btn-primary mr-1" [routerLink]="['/dashboard/user']">Cancel</button>
                <button type="button" class="btn btn-danger" [disabled]="isDisable || userForm.pristine || userForm.invalid" (click)="clearForm()" *ngIf="isAction !== 'Detail'">Reset</button>
                <button type="button" class="btn btn-danger" (click)="openModal(template, selectedId, userForm.controls['userId'].value)" *ngIf="isAction === 'Detail'">Delete</button>
            </div>
        </form>
    </div>
</div>


<ng-template #template >
        <div class="modal-header">
            <h4 class="modal-title pull-left">Delete Selected User</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body text-left">
          <p>Do you want to really delete this User ID: <b class="text-warning">{{selectedUserr}}</b> ? Please click 
          <b class="text-info">Yes</b> to confirm</p>
        </div>
    
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="confirm(selectedId)">Yes</button>
            <button type="button" class="btn btn-info" (click)="decline()">No</button>
       </div>
</ng-template>
